<div class="modal-header" style="background: #2980B9; color:white;">
    <h4 class="modal-title pull-left"><i class="fas fa-box-open"></i>&nbsp;  {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" style="color: white;">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container">
       
        <div class="row" >
    
            <div class="container mt-3">
            
            <div class="table-responsive" style="height: 350px;">
            
                 <table class="table table-sm  table-hover">
                         <thead style="background: #D9EDF7;">
                           <tr class="text-center">
                                 <th scope="col">RUC</th>
                                 <th scope="col">Denominacion</th>
                                 <th scope="col">Direccion</th>
                                 <th scope="col">Telefono</th>
                                 <th scope="col"> Acciones</th>
                           </tr>
                         </thead>
                         
                         <tbody>
                             
                             <tr class="text-center" style="cursor: pointer;" (dblclick)="seleccionarProveedorDoubleClick(proveedor)"  *ngFor='let proveedor of proveedorService.proveedores'>
                          
                                 <td >{{proveedor.ruc}}</td>
                                 <td >{{proveedor.denominacion}} </td>
                                 <td >{{proveedor.direccion}} </td>
                                 <td >{{proveedor.telefono}} </td>
                                 <td>
                                 <button class="btn btn-primary btn-sm " (click)="seleccionarProveedor(proveedor)"><i class="fas fa-hand-pointer"></i></button>
                                 </td>
                             </tr>
                      
                         </tbody>
                  
                  </table>
            
                </div>
     
            </div>
     
         </div>
    
     </div>    
    
</div>
      