<div class="container my-4" style="border: solid #D9EDF7 2px;">

	
  <div class="row  py-2" style="background: #D9EDF7;">
      
      <div class="col">

              <span style="float: left; color:#417C9A;"> <h4><strong>Buscar Productos</strong></h4></span>
              <button type="button" (click)="ingresarProducto()" class="btn btn-primary btn-sm mr-2"  style="float: right;"><i class="fas fa-plus"></i> Nuevo Producto</button>
      </div>

  </div>


  <div class="row pt-3">

      <div class="col">

              <form class="form-inline" method="post">
                      <div class="form-check mr-2">
            <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnCodigo" [(ngModel)]="busqueda"  value="codigo" >
            <label class="form-check-label" for="rbtnCodigo">
             Codigo
            </label>
          </div>
          <div class="form-check mr-2">
            <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnDenominacion" [(ngModel)]="busqueda"   value="denominacion">
            <label class="form-check-label" for="rbtnDenominacion">
              Denominacion
            </label>
          </div>
                      
                      <div class="form-group mx-sm-2 mb-2">
                        <input type="text" [(ngModel)]="descripcionBusqueda" name="txtBusquedaProductos" class="form-control"   placeholder="Buscar producto">
                      </div>
                      <button (click)="buscarProducto()" class="btn btn-sm btn-primary mb-2 ml-2"><i class="fas fa-search"></i> Buscar</button>
              </form>

      </div>
  

  </div>

  <div class="row" >

     <div class="container mt-3">
     
     <div class="table-responsive" style="height: 350px;">
     
        <table class="table table-sm  table-hover" id="tblListarProductos">
                  <thead style="background: #D9EDF7;">
                    <tr class="text-center">
                        <th scope="col">ID</th>
                      <th scope="col">Descripcion</th>
                      <th scope="col">U. De Medida</th>
                      <th scope="col">Cantidad</th>
                       <th scope="col">Valor venta</th>
                      <th scope="col"> Acciones</th>
                    </tr>
                  </thead>
                  
                  <tbody>
                    
                     <tr class="text-center" style="cursor: pointer;" (dblclick)="editarProductoDoubleClick(producto)"  *ngFor='let producto of productoService.productos'>
                     
                        <td >{{producto.idProducto}}</td>
                        <td >{{producto.descripcion}} </td>
                        <td >{{producto.unidadDeMedida}} </td>
                        <td >{{producto.cantidad}} </td>
                        <td>{{producto.valorVenta}} </td>
                        <td>
                        <a hidden="hidden"  class="btn btn-primary">ir prueba</a>
                        <button   data-toggle="modal" data-target="#ModalEditarProducto" (click)="editarProducto(producto)"  name="btnBuscarProducto" id="btnBuscarProducto" class="btn btn-warning btn-sm mr-1"><i class="fas fa-pen"></i></button>
                        <a class="btn btn-danger btn-sm " (click)="eliminarProducto(producto)"><i class="fas fa-trash-alt"></i></a>
                        </td>
                      </tr>
                    
               
                    </tbody>
           
           </table>
     
     </div>

     </div>

          

  </div>

<hr>

  <div class="row mb-2" >
  
  <div class="col-4">

    <label style="float: left; margin-top: 10px;"><i class="far fa-clone"></i>&nbsp; Mostrando {{paginacion.primeraFila+1}} al {{paginacion.ultimaFila}} de {{paginacion.totalRegistros}}  registros</label>

  </div>
  <div class="col-3">
      <div class="form-row">
      
          <label class="col-8 col-form-label text-right">Mostrar :</label>
  
          <div class="col-4">
            <select [(ngModel)]="tamanioPaginado" (change)="onChangeMostrar()" class="form-control form-control-sm">
              <option *ngFor="let option of tamaniosPagina" [ngValue]="option.id">{{option.valor}}</option>
            </select>
          </div>

      </div>
      
        
  </div> 
   
  <div class="col-5">
    <nav aria-label="Page navigation example">
      <ul class="pagination pg-blue justify-content-end">
          <li *ngFor="let pagina of paginado" class={{pagina.clase}}>
            <a [routerLink]="" class="page-link" (click)="gestionarPaginado(pagina)">{{pagina.valor}}</a>
          </li>
      </ul>
    </nav>
  </div>

  
<!--

<label for="validationServer013">First name</label>
  <input type="text" class="{{esValidoInput}}" id="validationServer013" placeholder="First name"
    value="Mark" required>
  <div class={{esValidoInput1}}>
    Looks good!
  </div>

<button (click)="cambiarClase()">Cambiar</button>
<button (click)="cambiarClase2()">Cambiar</button>

-->  

  </div>
  
</div>