<div class="container my-3" style="border:solid 1px #D9EDF7;">
  
        <div class="row " style="background: #D9EDF7 ; color:#5D7F9A;">

            <div class="col-3 mt-2">
                    <h3><strong>Registrar Compra</strong> </h3> 
            </div>
			<div class="col-9">
			
					<ol class="breadcrumb justify-content-end " style="background: #D9EDF7;">
		                         <li class="breadcrumb-item"><a routerLink="/"  style="color:#5D7F9A;"><i class="fas fa-home"></i> Inicio</a></li>
		                         <li class="breadcrumb-item"><a routerLink="/compra" style="color:#5D7F9A;"><i class="fas fa-shopping-cart mr-1"></i>Compras</a></li>
		            </ol>
			</div>
			
        </div>

        <div class="row pt-3">

            <div class="col-md-3">

                <div class="form-group">

                    <label for="" ><strong>Tipo Comprobante</strong></label>

                    <select class="form-control" id="cmbTipoComprobante"  [(ngModel)]="compra.comprobanteDePago.tipodecomprobantedepago.idTipoDeComprobanteDePago"  required="required">
                            <option [value]="1">Boleta</option>
                            <option [value]="2">Factura</option>
                          </select>


                </div>

            </div>

            <div class="col-md-2">

                    <div class="form-group ">
    
                        <label for=""><strong>Serie</strong></label>
    
                        <input type="text" placeholder="Serie" id="txtSerie" [(ngModel)]="compra.comprobanteDePago.serie" class="form-control" required="required">
    
    
                    </div>
    
            </div>

            <div class="col-md-2">

                    <div class="form-group">
    
                        <label for="" ><strong>Numero</strong></label>
    
                        <input type="text" placeholder="Numero" id="txtNumeroComprobante" [(ngModel)]="compra.comprobanteDePago.numero" class="form-control" required="required">
    
    
                    </div>
    
            </div>

            <div class="col-md-3">

                    <div class="form-group">
    
                        <label for="" ><strong>Fecha</strong></label>
    
                        <input type="date" id="dtFechaCompra" [(ngModel)]="compra.fecha" class="form-control" required="required">
    
    
                    </div>
    
            </div>

            <div class="col-md-2">

                    <div class="form-group">
    
                        <label for="" ><strong>Tipo de cambio</strong></label>
    
                        <select class="form-control" id="cmbTipoDeCambio" >
                                <option th:value="Soles">Soles</option>
                                <option th:value="Dolares">Dolares</option>
                        </select>
    
    
                    </div>
    
            </div>

        </div>


        <div class="row">

                <div class="col-md-3">                                 

                        <div class="form-group">

                                <label for=""><strong>Ruc Proveedor:</strong></label>

                                <div class="form-inline">

                                        <input type="text" placeholder="Ruc " class="form-control w-50" [(ngModel)]="compra.proveedor.ruc"  disabled id="txtRucProveedor" >
                                        <button type="button" (click)="listaDeProveedores()" class="btn btn-sm btn-primary ml-1"  ><i class="fas fa-search"></i></button>

                                </div>                                 

                        </div>  
  
                </div>

                <div class="col-md-5">                                 

                        <div class="form-group">

                                <label for=""><strong>Razon Social:</strong></label>

                                <input type="text" [(ngModel)]="compra.proveedor.denominacion"  placeholder="Razon Social" class="form-control" disabled  id="txtRazonSocial" >
                                                                

                        </div>  
  
                </div>

                <div class="col-md-4">                                 

                        <div class="form-group">

                                <label for=""><strong>Direccion:</strong></label>

                                <input type="text" placeholder="Direccion" [(ngModel)]="compra.proveedor.direccion"  class="form-control" disabled  id="txtDireccion" >
                                                                

                        </div>  
  
                </div>

        </div>

        <div class="row">

                <div class="col-md-6">                                 

                        <div class="form-group">

                                <label for=""><strong>Producto:</strong></label>

                                <div class="form-inline">

                                        <input type="text" placeholder="Desripcion producto" [(ngModel)]="producto.descripcion" class="form-control w-75" disabled #txtDescripcionProducto>
                                        <button type="button"  class="btn btn-primary btn-sm ml-2"  (click)="listaDeProductos()">
                                                <i class="fas fa-search"></i>
                                        </button>

                                </div>                                 

                        </div>  
  
                </div>
		
		
                <div class="col-md-2">                                 

                        <div class="form-group">

                                <label for=""><strong>Valor compra:</strong></label>

                                <input type="text" placeholder="Valor compra" class="form-control" [(ngModel)]="precioCompra" name="txtValorCompra"  id="txtValorCompra" >
                                                                

                        </div>  
  
                </div>

                <div class="col-md-2">                                 

                        <div class="form-group">

                                <label for=""><strong>Cantidad:</strong></label>

                                <input type="text" placeholder="Cantidad" class="form-control" [(ngModel)]="cantidad" name="txtCantidad"  id="txtCantidad" >
                                                                

                        </div>  
  
                </div>

                <div class="col-md-2">                                 

                        <div class="form-group">

                                <label for=""><strong>Unidad de medida:</strong></label>

                                <input type="text" placeholder="U. de medida" class="form-control" disabled  [(ngModel)]="producto.unidadDeMedida" #txtUnidadDeMedida >
                                                                

                        </div>  
  
                </div>
                
                
                 <div class="col-md-2" hidden="hidden">                                 

                        <div class="form-group">

                                <label for=""><strong>Id Producto:</strong></label>

                                <input type="text" placeholder="Id" class="form-control" name="txtidProducto" [(ngModel)]="producto.idProducto"  id="txtidProducto" >
                                                                

                        </div>  
  
                </div>
                

        </div>

        <div class="row">

            <div class="col-md-2 col-sm-4">

                    <button [disabled]="!selectedProduct || cantidad<=0 || precioCompra<=0" #btnAgregarProductos (click)="agregarProductoCarrito()" class="btn btn-success btn-sm form-control"><i class="fas fa-plus mr-2"></i> Agregar</button>
            </div>
            
        </div>

        <hr>


        <div class="row">

            <div class="col-12">


                    <div class="table-responsive" style="height: 280px;">

                            <table class="table  table-sm table-striped " id="tblProductosCarrito">
                                    <thead style="background: #2980B9; color: #D9EDF7;">
                                      <tr class="text-center">
                                        <th scope="col">ID</th>
                                        <th scope="col">Descripcion</th>
                                        <th scope="col">Catidad</th>
                                        <th scope="col">Precio</th>
                                        <th scope="col">Opciones</th>
                                      </tr>
                                    </thead>
                                    <tbody>

                                        <tr class="text-center" style="cursor: pointer;"   *ngFor='let detalleComprobanteDePago of compra.comprobanteDePago.detalleComprobanteDePago'>
                        
                                                <td >{{detalleComprobanteDePago.producto.idProducto}}</td>
                                                <td >{{detalleComprobanteDePago.producto.descripcion}} </td>
                                                <td >{{detalleComprobanteDePago.cantidadCompra}} </td>
                                                <td >{{detalleComprobanteDePago.valorVenta}} </td>
                                                <td>
                                                <button   (click)="editarDetalleComprobante(detalleComprobanteDePago)"  class="btn btn-warning btn-sm mr-1"><i class="fas fa-pen"></i></button>
                                                <button   (click)="eliminarDetalleComprobante(detalleComprobanteDePago)"  class="btn btn-danger btn-sm mr-1"><i class="fas fa-pen"></i></button>
                                                </td>
                                        </tr>

                                    </tbody>
                                  </table>
                    </div>

            </div>
        
        </div>

        <hr>

        <div class="row mb-3">

            <div class="container">

                <div class="row">

                    <div class="col-6">

                        <div class="form-inline">

                                <label class="mr-2"><strong>Total sin IGV: </strong></label> 
                                <input #txtTotalSinIgv [(ngModel)]="totalSinIgv" name="txtTotalSinIgv" type="text" class="form-control w-50 text-center" disabled>
    
                        </div>

                    </div>

                    <div class="col-md-4 col-sm-3">

                    </div>
                    <div class="col-md-2  col-sm-3" >

                        <button id="btnGuardarCompra" (click)="guardarCompra()" class="float-right btn btn-success btn-sm form-control"><i class="fas fa-save mr-2"></i> Guardar</button>
                    </div>

                </div>
            </div>

        </div>

    </div>


