<div class="container">

    <div class="row my-3" style="background: #D9EDF7; color:#5D7F9A;">
            <div class="col-2">
    
                    <h2 ><strong>Kardex</strong></h2>
    
            </div>
    
            <div class="col-7">
    
            </div>
            <div class="col-3 pt-2">
                <span style="float: right; color: #5D7F9A;">
                          <a  style="text-decoration: none;" href="#">
                          <label style="cursor: pointer;">Imprimir</label>&nbsp;
                          <i class="fas fa-print" style="cursor: pointer;"></i>
                          </a>  
                </span>
                
            </div>
    
        </div>
        
     <form >
    
        <div class="row">
    
            <div class="col-md-3 col-sm-6">
    
                <div class="form-group">
    
                    <label for=""><strong>Mes</strong></label>
                    
                    <select class="form-control" name="cmbMes" [(ngModel)]="mes" id="cmbMes" required="required">
                    
                            <option [ngValue]="0">Seleccione</option>
                            <option [ngValue]="1">Enero</option>
                            <option [ngValue]="2">Febrero</option>
                            <option [ngValue]="3">Marzo</option>
                            <option [ngValue]="4">Abril</option>
                            <option [ngValue]="5">Mayo</option>
                            <option [ngValue]="6">Junio</option>
                            <option [ngValue]="7">Julio</option>
                            <option [ngValue]="8">Agosto</option>
                            <option [ngValue]="9">Septiembre</option>
                            <option [ngValue]="10">Octubre</option>
                            <option [ngValue]="11">Noviembre</option>
                            <option [ngValue]="12">Diciembre</option>
                    </select>
                </div>
    
            </div>
    
            <div class="col-md-2 col-sm-6">
    
                    <div class="form-group">
        
                        <label for=""><strong>Año</strong></label>
                        <select class="form-control" [(ngModel)]="anio" name="cmbAnios" id="cmbAnios" required="required">
                                <option [ngValue]="2019">2019</option>
                                <option [ngValue]="2020">2020</option>
                                <option [ngValue]="2021">2021</option>
                                <option [ngValue]="2022">2022</option>
                        </select>
                    </div>
            </div>
    
    
            <div class="col-md-3">
    
                <div class="form-group">
    
                    <label for=""><strong>Metodo de valuacion</strong></label>
                    <input type="text" required="required" class="form-control" name="txtMetodoDeValuacion" placeholder="Metodo de valuacion">
    
                </div>
    
            </div>
    
            <div class="col-md-2">
    
                    <div class="form-group">
        
                        <label for=""><strong>Tipo</strong></label>
                        <input type="text" disabled class="form-control" value="MERCADERIA">
        
                    </div>
        
            </div>
    
    
        </div>
    
        <div class="row">
    
            <div class="col-md-2">
    
                <div class="form-group">
    
                    <label for=""><strong>Empresa</strong></label>
                    <input type="text" value="MACONSA S.A.C." disabled class="form-control">
    
                </div>
    
            </div>
    
            <div class="col-md-6">
    
                    <div class="form-group">
        
                        <label for=""><strong>Direccion</strong></label>
                        <input type="text" value="Wichanzao Mz 12 Lote 52, La Esperanza" disabled class="form-control">
        
                    </div>
        
            </div>
    
            <div class="col-md-2">
    
                    <div class="form-group">
        
                        <label for=""><strong>Ruc</strong></label>
                        <input type="text" value="20481564361" disabled class="form-control">
        
                    </div>
        
            </div>
    
        </div>
    
        <div class="row">
    
                <div class="col-md-3">
    
                    <div class="form-group">
                        
                        
                                <label for=""><strong>ID Producto</strong></label>
                                <div class="form-inline">
                                        <input  type="text" [(ngModel)]="producto.idProducto" placeholder="ID Producto"  name="idProducto" disabled #txtidProducto   class="form-control w-50 mr-2">
                                        <button class="btn btn-primary btn-sm" type="button" (click)="listaDeProductos()"  ><i class="fas fa-search"></i></button>
                                </div>
                               
    
                            
                        </div>
    
    
                </div>
    
                <div class="col-md-6">
    
                        <div class="form-group">
            
                            <label for=""><strong>Descripcion</strong></label>
                            <input type="text" id="txtDescripcion" placeholder="Descripcion" [(ngModel)]="producto.descripcion"  name="descripcion"  disabled class="form-control">
            
                        </div>
            
                </div>
    
                <div class="col-md-2">
    
                        <div class="form-group">
            
                            <label for=""><strong>Unidad de medida</strong></label>
                            <input id="txtUnidadDeMedida" type="text" placeholder="Unidad de medida" [(ngModel)]="producto.unidadDeMedida"  name="unidadDeMedida" disabled class="form-control">
            
                        </div>
            
                </div>
    
        </div>
    
        <hr>
    
        <div class="form-inline mt-1">
    
                <button id="btnBuscarKardex" (click)="buscarkardex()"  type="button" name="btnBuscarKardex" class="btn btn-primary btn-sm mr-4" ><i class="fas fa-search"></i> Generar Busqueda</button>
    
    
    
    
                    <div class="form-inline mr-2">
        
                        <label for=""><strong>Total sin IGV Compra</strong></label>
                        <input type="text" disabled id="txtCantidadCompraSinIGV"  class="form-control ml-3 text-center">
        
                    </div>
        
            
    
    
                    <div class="form-inline ">
        
                        <label for="" ><strong >Total sin IGV Venta</strong></label>
                        <input type="text" disabled  id="txtCantidadVentaSinIGV"  class="form-control ml-3 text-center">
        
                    </div>
    
        </div>
        
        </form>
    
        <hr>
    
        <div class="row">
    
            <div class="col-12">
    
                <div class="table-responsive" style="height: 500px;">
    
    
                        <table class="table table-sm table-hover" id="tblKardex">
                                <thead style="background: #2980B9; color: #D9EDF7;">
                                    <tr class="text-center">
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Tipo</th>
                                    <th scope="col">Serie</th>
                                    <th scope="col">Numero</th>
                                    <th scope="col">Operacion</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Costo Uni.</th>
                                    <th scope="col">Costo Total</th>
                                    <th scope="col">Cant. Final</th>
                                    </tr>
                                </thead>
                                <tbody>
                                      
                                </tbody>
                            </table>
    
                </div>
    
            </div>
    
        </div>
    
    </div>