<div class="modal-header" style="background: #2980B9; color:white;">
    <h4 class="modal-title pull-left"><i class="fas fa-truck"></i>&nbsp;  {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" style="color: white;">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container">

        <form [formGroup]="formProveedor">

            <div class="row">
    
                    <div class="col-4">
                        
                            <div class="form-group">
                            
                                <label><strong>Ruc</strong></label>
                                <input [(ngModel)]="proveedor.ruc" placeholder="Ruc" formControlName="ruc" type="text" id="txtruc" class="form-control" name="ruc">
                                
                            </div>
                        
                        </div>
                    
                        <div class="col-12">
                        
                            <div class="form-group">
                            
                                <label><strong>Descripcion</strong></label>
                                <input [(ngModel)]="proveedor.denominacion"   formControlName="denominacion" id="txtDescrpcionRegistro"  type="text" placeholder="Ingresa una descripcion" name="descripcion" class="form-control" required="required">
                                <div id="mensajeDescripcionRegistro" class=""></div>
                            </div>
                        
                        </div>
                        
                        <div class="col-md-12">
                        
                            <div class="form-group">
                            
                                <label><strong>Direccion</strong></label>
                                <input [(ngModel)]="proveedor.direccion"   formControlName="direccion" id="txtDireccion" type="text" placeholder="Ingresa la direccion" name="direccion" class="form-control" required="required">
                                <div id="mensajeUnidadDeMedidaRegistro" class=""></div>
                            </div>
                            
                        
                        </div>
                        
                        <div class="col-md-12">
                        
                            <div class="form-group">
                            
                                <label><strong>Telefono</strong> </label>
                                <input [(ngModel)]="proveedor.telefono"  id="telefono" formControlName="telefono" type="text" placeholder="Ingresa un telefono" name="telefono" class="form-control" required="required">
                                <div id="mensajeCantidadRegistro" class=""></div>
                            </div>
                        
                        </div>       	
                    
                    </div>
            </form>
    
     </div>    
    
</div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" (click)="modalRef.hide()"><i class="fas fa-times mr-1"></i>Cerrar</button>
        <button type="button" class="btn btn-success btn-sm" (click)="guardar()"><i class="fas fa-save mr-1"></i>Guardar</button>
      </div>