<div class="container my-4" style="border: solid #D9EDF7 2px;">

	
    <div class="row  py-2" style="background: #D9EDF7;">
        
        <div class="col">

                <span style="float: left; color:#417C9A;"> <h4><strong>Buscar Usuario</strong></h4></span>
                <button type="button" (click)="ingresarUsuario()" class="btn btn-primary btn-sm mr-2"  style="float: right;"><i class="fas fa-plus"></i> Nuevo Usuario</button>
        </div>

    </div>


    <div class="row pt-3">

        <div class="col">

                <form class="form-inline" method="post">
                        <div class="form-check mr-2">
						  <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnCodigo" [(ngModel)]="busqueda"  value="ID" >
						  <label class="form-check-label" for="rbtnCodigo">
						   ID
						  </label>
						</div>
						<div class="form-check mr-2">
						  <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnDenominacion" [(ngModel)]="busqueda"   value="apellido">
						  <label class="form-check-label" for="rbtnDenominacion">
						    Apellido
						  </label>
						</div>
                        
                        <div class="form-group mx-sm-2 mb-2">
                          <input type="text" [(ngModel)]="descripcionBusqueda" name="txtBusquedaProductos" class="form-control"   placeholder="Buscar producto">
                        </div>
                        <button (click)="buscarUsuario()" class="btn btn-sm btn-primary mb-2 ml-2"><i class="fas fa-search"></i> Buscar</button>
                </form>

        </div>
    

    </div>

    <div class="row" >

       <div class="container mt-3">
       
       <div class="table-responsive" style="height: 350px;">
       
        	<table class="table table-sm  table-hover" id="tblListarUsuarios">
                    <thead style="background: #D9EDF7;">
                      <tr class="text-center">
                          <th scope="col">ID</th>
                        <th scope="col">DNI</th>
                        <th scope="col">Apellidos</th>
                        <th scope="col">Nombres</th>
                         <th scope="col">Usuario</th>
                        <th scope="col"> Acciones</th>
                      </tr>
                    </thead>
                    
                    <tbody>
	                    
	                     <tr class="text-center" style="cursor: pointer;" (dblclick)="editarUsuarioDoubleClick(usuario)"  *ngFor='let usuario of usuarioService.usuarios'>
	                     
	                        <td >{{usuario.idUsuario}}</td>
	                        <td >{{usuario.persona.dni}} </td>
	                        <td >{{usuario.persona.apellidos}} </td>
	                        <td >{{usuario.persona.nombres}} </td>
	                        <td> {{usuario.nombreUsuario}} </td>
	                        <td>
	                        <a hidden="hidden"  class="btn btn-primary">ir prueba</a>
	                        <button   data-toggle="modal" data-target="#ModalEditarProducto" (click)="editarUsuario(usuario)"  name="btnBuscarProducto" id="btnBuscarProducto" class="btn btn-warning btn-sm mr-1"><i class="fas fa-pen"></i></button>
	                        <a class="btn btn-danger btn-sm " (click)="eliminarUsuario(usuario)"><i class="fas fa-trash-alt"></i></a>
	                        </td>
	                      </tr>
	                    
                 
                   	 </tbody>
             
             </table>
       
       </div>

       </div>

            

    </div>

	<hr>
	
    <div class="row mb-2" >
    
    <div class="col-12">
      <span style="float: left; margin-top: 10px;"><i class="far fa-hand-pointer"></i> Has doble click en la fila para editar</span>                      
    
      <nav aria-label="Page navigation example">
            <ul class="pagination pg-blue justify-content-end">
              <li class="page-item disabled">
                <a class="page-link" tabindex="-1">Previous</a>
              </li>
              <li class="page-item"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item">
                <a class="page-link">Next</a>
              </li>
            </ul>
          </nav>

    </div>
  <!--

  <label for="validationServer013">First name</label>
    <input type="text" class="{{esValidoInput}}" id="validationServer013" placeholder="First name"
      value="Mark" required>
    <div class={{esValidoInput1}}>
      Looks good!
    </div>

  <button (click)="cambiarClase()">Cambiar</button>
  <button (click)="cambiarClase2()">Cambiar</button>

  -->  
  
    </div>
    
</div>