<div class="container my-3">

        <div class="row">

            <div class="col">

                    <nav aria-label="breadcrumb" >
                            <ol class="breadcrumb" style="background: #D9EDF7; ">
                              <li class="breadcrumb-item"><a routerLink="/" style="color:#5D7F9A;"><i class="fas fa-home"></i> Inicio</a></li>
                              <li class="breadcrumb-item"><a routerLink="/compra" style="color:#5D7F9A;"><i class="fas fa-shopping-cart"></i> Compras</a></li>
                              <li class="breadcrumb-item"><a routerLink="/compra/listar" style="color:#5D7F9A;"><i class="fas fa-cart-plus"></i> Nueva Compra</a></li>               
                            </ol>
                    </nav>

            </div>

                
        </div>

        <div class="row">

            <div class="col-12">

                    <div class="container" style="border: solid #D9EDF7 1px;">


                            <div class="row  py-2" style="background: #D9EDF7; color: #5D7F9A;">
                                
                                <div class="col">
                        
                                        <span style="float: left;"> <h4><strong>Buscar Compra</strong></h4></span>
                                        <span style="float: right; margin-top: 5px;"><i class="far fa-hand-pointer"></i> Has doble click en la fila para ver detalle</span>                      
                                </div>
                        
                            </div>
                        
                            <div class="row pt-3">
                        
                                <div class="col">
                        
                                        <form class="form-inline" action="/Compra/Buscar" method="post">

                                                <div class="form-group mx-sm-2 mb-2">
                                                  <input type="text"  name="txtDenominacionProveedorCompra" class="form-control"   placeholder="Buscar por proveedor">
                                                </div>
                                                <button type="submit" class="btn btn-primary mb-2 ml-2 btn-sm"><i class="fas fa-search"></i> Buscar</button>
                                        		
                                        </form>
                                        
                                        
                        
                                </div>
                            
                        
                            </div>
                        
                            <div class="row" >
                        
                        
                               <div class="container mt-3 mb-2">
                               
	                               <div class="table-responsive" style="height: 345px;">
	                               
	                               <table class="table table-sm table-striped table-hover" id="tblListaCompras">
                                            <thead style="background: #2980B9; color: #D9EDF7;">
                                              <tr class="text-center">
                                                <th scope="col">Codigo</th>
                                                <th scope="col">RUC</th>
                                                <th scope="col">Proveedor</th>
                                                <th scope="col">Numero</th>
                                                 <th scope="col">Serie</th>
                                                <th scope="col"> Tipo</th>
                                                <th scope="col"> Fecha</th>
                                                <th scope="col">Ver Detalle</th>
                                              </tr>
                                            </thead>
                                            <tbody>
                                                
                                                <tr class="text-center" style="cursor: pointer;" (dblclick)="detalleCompraDoubleClick(compra)"  *ngFor='let compra of compraService.compras'>
	                     
                                                        <td >{{compra.idCompra}}</td>
                                                        <td >{{compra.proveedor.ruc}} </td>
                                                        <td >{{compra.proveedor.denominacion}} </td>
                                                        <td >{{compra.comprobanteDePago.numero}} </td>
                                                        <td>{{compra.comprobanteDePago.serie}} </td>
                                                        <td>{{compra.comprobanteDePago.tipodecomprobantedepago.descTipoDeComprobanteDePago}} </td>
                                                        <td>{{compra.fecha | date: 'yyyy-MM-dd HH:mm'}} </td>
                                                        <td>
                                                        <button   (click)="detalleCompra(compra)"  class="btn btn-warning btn-sm mr-1"><i class="fas fa-pen"></i></button>
                                                        </td>
                                                </tr>
                                         
                                        
                                              
                                            </tbody>
                                          </table>
	                               
	                               </div>

                               </div>                                 
                        
                            </div>
                        

                        </div>

            </div>

        </div>

    </div>
