<div class="container my-4" style="border: solid #D9EDF7 2px;">

	
        <div class="row  py-2" style="background: #D9EDF7;">
            
            <div class="col">
    
                    <span style="float: left; color:#417C9A;"> <h4><strong>Buscar Proveedor</strong></h4></span>
                    <button type="button" (click)="ingresarProveedor()" class="btn btn-primary btn-sm mr-2"  style="float: right;"><i class="fas fa-plus"></i> Nuevo Proveedor</button>
            </div>
    
        </div>
    
    
        <div class="row pt-3">
    
            <div class="col">
    
                    <form class="form-inline" method="post">
                            <div class="form-check mr-2">
                              <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnRuc" value="ruc" [(ngModel)]="busqueda" >
                              <label class="form-check-label" for="rbtnRuc">
                               Ruc
                              </label>
                            </div>
                            <div class="form-check mr-2">
                              <input class="form-check-input " type="radio" name="rbtnTipoDeBusqueda" id="rbtnDenominacion" [(ngModel)]="busqueda" value="denominacion">
                              <label class="form-check-label" for="rbtnDenominacion">
                                Denominacion
                              </label>
                            </div>
                            
                            <div class="form-group mx-sm-2 mb-2">
                              <input type="text" name="txtBusquedaProveedor" class="form-control"   placeholder="Buscar proveedor" [(ngModel)]="descripcionBusqueda" >
                            </div>
                            <button (click)=" buscarProveedor()" class="btn btn-sm btn-primary mb-2 ml-2"><i class="fas fa-search"></i> Buscar</button>
                    </form>
    
            </div>
        
    
        </div>
    
        <div class="row" >
    
           <div class="container mt-3">
           
           <div class="table-responsive" style="height: 350px;">
           
                <table class="table table-sm  table-hover" id="tblListarProductos">
                        <thead style="background: #D9EDF7;">
                          <tr class="text-center">
                                <th scope="col">RUC</th>
                                <th scope="col">Denominacion</th>
                                <th scope="col">Direccion</th>
                                <th scope="col">Telefono</th>
                                <th scope="col"> Acciones</th>
                          </tr>
                        </thead>
                        
                        <tbody>
                            
                             <tr class="text-center" (dblclick)="editarProveedorDoubleClick(proveedor)" style="cursor: pointer;"*ngFor='let proveedor of proveedorService.proveedores'>
                             
                                <td >{{proveedor.ruc}}</td>
                                <td >{{proveedor.denominacion}} </td>
                                <td >{{proveedor.direccion}} </td>
                                <td >{{proveedor.telefono}} </td>
                                <td>
                                <button   data-toggle="modal"  (click)="editarProveedor(proveedor)"  data-target="#ModalEditarProducto"  name="btnBuscarProducto" id="btnBuscarProducto" class="btn btn-warning btn-sm mr-1"><i class="fas fa-pen"></i></button>
                                <a class="btn btn-danger btn-sm " (click)="eliminarProveedor(proveedor)" ><i class="fas fa-trash-alt"></i></a>
                                </td>
                              </tr>
                            
                     
                            </tbody>
                 
                 </table>
           
           </div>
    
           </div>
    
                
    
        </div>
    
        <hr>
        
        <div class="row mb-2" >
        
        <div class="col-12">
          <span style="float: left; margin-top: 10px;"><i class="far fa-hand-pointer"></i> Has doble click en la fila para editar</span>                      
        
          <nav aria-label="Page navigation example">
                <ul class="pagination pg-blue justify-content-end">
                  <li class="page-item disabled">
                    <a class="page-link" tabindex="-1">Previous</a>
                  </li>
                  <li class="page-item"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">2</a></li>
                  <li class="page-item"><a class="page-link">3</a></li>
                  <li class="page-item">
                    <a class="page-link">Next</a>
                  </li>
                </ul>
              </nav>
    
        </div>
        
          
        </div>
        
    </div>