<div class="container my-3">

    <div class="row" style="background: #D9EDF7; color:#5D7F9A;">

        <h3 class="ml-2"><strong>Inventario</strong></h3>

    </div>

    <div class="row">

        <div class="container mt-3" >

            <div class="row" >

                <div class="col-md-3 col-sm-2">

                </div>

                <div class="col-md-3 col-sm-4" style="border:solid 1px #D9EDF7;">

                    <div class="form-group text-center">

                        <label for=""><strong>Costo del inventario</strong></label>
                        <h3 >{{costoInventario}}</h3>

                    </div>

                </div>

                <div class="col-md-3 col-sm-4 text-center" style="border:solid 1px #D9EDF7;">

                        <div class="form-group text-center">

                            <label for=""><strong>Total de productos</strong></label>
                            <h3 >{{totalProductosInventario}}</h3>

                        </div>

                    </div>

            </div>

        </div>

    </div>

    <hr>

    <div class="row ">

            <div class="col-12">

                        <ol class="breadcrumb" style="background: #D9EDF7;">
                    
                            <li class="breadcrumb-item"><a  routerLink="/" style="color:#5D7F9A;"><i class="fas fa-home mr-2"></i>Inicio</a></li>
                            <li class="breadcrumb-item"><a target="_blank"  routerLink="/inventario" style="color:#5D7F9A; "><i class="fas fa-print mr-2"></i>Imprimir</a></li>
                            
                        </ol>

            </div>
                            
                      

        </div>


        <div class="row"  >

            <div class="col-12">

                <div class="table-responsive"  style="height: 600px;">

                        <table class="table table-hover table-sm" style="border:solid 2px #2980B9;">

                                <thead style="background: #2980B9; color:#D9EDF7;">
                                  <tr class="text-center">
                                    <th scope="col">Codigo</th>
                                    <th scope="col">Descripcion</th>
                                    <th scope="col">Unidad De Medida</th>
                                    <th scope="col">Cantidad</th>
                                    <th scope="col">Precio</th>
                                  </tr>
                                </thead>
                                <tbody> 
                                        <tr class="text-center" style="cursor: pointer;"  *ngFor='let producto of inventarioService.listaProductosInventario'>
	                     
                                                <td >{{producto.idProducto}}</td>
                                                <td >{{producto.descripcion}} </td>
                                                <td >{{producto.unidadDeMedida}} </td>
                                                <td >{{producto.cantidad}} </td>
                                                <td>{{producto.valorVenta}} </td>
                                        </tr>
                                
                                </tbody>
                                
                        </table>

                </div>

            </div>

        </div>

            
    </div>