<div class="modal-header" style="background: #2980B9; color:white;">
        <h4 class="modal-title pull-left"><i class="fas fa-box-open"></i>&nbsp;  {{ title }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="container">

            <form [formGroup]="formProducto">

                <div class="row">
        
                        <div class="col-12">
                            
                                <div class="form-group">
                                
                                    <label><strong>Codigo</strong></label>
                                    <input [(ngModel)]="producto.idProducto" formControlName="idProducto" type="text" id="txtIDProductoRegistro" class="form-control w-25" name="idProducto" disabled="disabled">
                                    <div *ngIf="!formProducto.get('idProducto').valid && formProducto.get('idProducto').touched"></div>
                                </div>
                            
                            </div>
                        
                            <div class="col-12">
                            
                                <div class="form-group">
                                
                                    <label><strong>Descripcion</strong></label>
                                    <input [(ngModel)]="producto.descripcion"   formControlName="descripcion" id="txtDescrpcionRegistro"  type="text" placeholder="Ingresa una descripcion" name="descripcion" class="{{esValidoInput1}}" required="required">
                                    <div id="mensajeDescripcionRegistro" class=""></div>
                                    <div *ngIf="!formProducto.get('descripcion').valid && formProducto.get('descripcion').touched" style="color: red; font-size: 13px;">{{InputDescripcionInvalida()}} Descripcion invalida</div>
                                    <div *ngIf="formProducto.get('descripcion').valid && formProducto.get('descripcion').touched" style="color: green; font-size: 13px;">{{InputDescripcionValida()}}Correcto</div>
                                </div>
                            
                            </div>
                            
                        
                        
                            <div class="col-md-12">
                            
                                <div class="form-group">
                                
                                    <label><strong>Unidad de medida</strong></label>
                                    <input [(ngModel)]="producto.unidadDeMedida"   formControlName="unidadDeMedida" id="txtUnidadDeMedidaRegistro" type="text" placeholder="Ingresa la unidad de medida" name="unidadDeMedida" class="form-control" required="required">
                                    <div *ngIf="!formProducto.get('unidadDeMedida').valid && formProducto.get('unidadDeMedida').touched" style="color: red; font-size: 13px;">{{texto}} Unidad de medida invalida</div>
                                    <div *ngIf="formProducto.get('unidadDeMedida').valid && formProducto.get('unidadDeMedida').touched" style="color: green; font-size: 13px;">Correcto</div>
                                </div>
                                
                            
                            </div>
                            
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                
                                    <label><strong>Cantidad</strong> </label>
                                    <input [(ngModel)]="producto.cantidad"  id="txtCantidadRegistro" formControlName="cantidad" type="text" placeholder="Ingresa una cantidad" name="cantidad" class="form-control" required="required">
                                    <div id="mensajeCantidadRegistro" class=""></div>
                                    <div *ngIf="!formProducto.get('cantidad').valid && formProducto.get('cantidad').touched" style="color: red; font-size: 13px;">Unidad de medida invalida</div>
                                    <div *ngIf="formProducto.get('cantidad').valid && formProducto.get('cantidad').touched" style="color: green; font-size: 13px;">Correcto</div>
                                </div>
                            
                            </div>
                            
                            <div class="col-md-6">
                            
                                <div class="form-group">
                                
                                    <label><strong>Valor Venta</strong> </label>
                                    <input [(ngModel)]="producto.valorVenta"   id="txtVentaRegistro" formControlName="valorVenta" type="text" placeholder="Ingresa el precio" name="valorVenta" class="form-control" required="required">
                                    <div id="mensajeVentaRegistro" class=""></div>
                                    <div *ngIf="!formProducto.get('valorVenta').valid && formProducto.get('valorVenta').touched" style="color: red; font-size: 13px;">Velor venta invalida</div>
                                </div>
                            
                            </div>	        	
                        
                        </div>
                </form>
        
         </div>    
        
    </div>
          
          <div class="modal-footer">
            <button type="button" class="btn btn-info btn-sm" (click)="modalRef.hide()"><i class="fas fa-times mr-1"></i>Cerrar</button>
            <button type="button" class="btn btn-success btn-sm" (click)="guardar()"><i class="fas fa-save mr-1"></i>Guardar</button>
          </div>