<div class="modal-header" style="background: #2980B9; color:white;">
    <h4 class="modal-title pull-left"><i class="fas fa-box-open"></i>&nbsp;  {{ title }} </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true" style="color: white;">&times;</span>
    </button>
</div>
<div class="modal-body">

    <div class="container">
       
        <div class="row" >

            <div class="container mt-3">
            
            <div class="table-responsive" style="height: 450px;">
            
                 <table class="table table-sm  table-hover" id="tblListarProductos">
                         <thead style="background: #D9EDF7;">
                           <tr class="text-center">
                               <th scope="col">ID</th>
                             <th scope="col">Descripcion</th>
                             <th scope="col">U. De Medida</th>
                             <th scope="col">Cantidad</th>
                              <th scope="col">Valor venta</th>
                             <th scope="col"> Seleccionar</th>
                           </tr>
                         </thead>
                         
                         <tbody>
                             
                              <tr class="text-center" style="cursor: pointer;" (dblclick)="seleccionarProductoDoubleClick(producto)"  *ngFor='let producto of productoService.productos'>
                              
                                 <td >{{producto.idProducto}}</td>
                                 <td >{{producto.descripcion}} </td>
                                 <td >{{producto.unidadDeMedida}} </td>
                                 <td >{{producto.cantidad}} </td>
                                 <td>{{producto.valorVenta}} </td>
                                 <td>
                                 <button (click)="seleccionarProducto(producto)"  class="btn btn-primary btn-sm mr-1"><i class="fas fa-hand-pointer"></i></button>
                                 </td>
                               </tr>
                             
                      
                             </tbody>
                  
                    </table>
                
                </div>
     
            </div>
    
     </div>    
    
</div>
      