<!--Navbar -->
<nav class="mb-1 navbar navbar-expand-lg navbar-dark " style="background: #2980B9;">
  <a class="navbar-brand" href="#">Maconsa</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
    aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Catalogacion
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/producto">Producto</a>
          <a class="dropdown-item" routerLink="/proveedor">Proveedor</a>
          <a class="dropdown-item" routerLink="/usuario">Usuario</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Operacion
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/compra">Compra</a>
          <a class="dropdown-item" href="#">Venta</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">Logistica
        </a>
        <div class="dropdown-menu dropdown-default" aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" routerLink="/inventario">Inventario</a>
          <a class="dropdown-item" routerLink="/kardex">Kardex</a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-default"
          aria-labelledby="navbarDropdownMenuLink-333">
          <a class="dropdown-item" href="#">Mi Cuenta</a>
          <a class="dropdown-item" href="#">Salir</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar -->



<!---->
     


<!---->
<router-outlet></router-outlet>






<!-- Footer -->
<footer class="page-footer font-small " style="background: #2980B9;">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">Sistema De Control De Inventarios:
    <a href="https://mdbootstrap.com/education/bootstrap/"> Ferreteria Maconsa</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->