
    <div class="modal-header" style="background: #2980B9; color:white;">
        <h4 class="modal-title pull-left"><i class="fas fa-user"></i>&nbsp;  {{ title }} </h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true" style="color: white;">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <div class="container">

            <form [formGroup]="formUsuario">

                
                <div class="row">
        
                        <div class="col-6">
                            
                                <div class="form-group">
                                
                                    <label><strong>ID</strong></label>
                                    <input [(ngModel)]="usuario.idUsuario" placeholder="ID Usuario" formControlName="idUsuario" readonly type="text"  class="form-control w-50" name="ID">
                                    
                                </div>
                            
                        </div>
                        
                        <fieldset formGroupName="persona">

                            <div class="container">

                                    <div class="row">

                                            <div class="col-6">
        
                                                    <div class="form-group form-sm">
                                                    
                                                        <label><strong>Dni</strong></label>
                                                        <input [(ngModel)]="usuario.persona.dni" minlength="8" type="text" formControlName="dni"  placeholder="Dni" class="form-control w-50" required="required">
                                                    </div>
                
                                               
                                                </div>
                                               
                                                <div class="col-6">
                                                
                                                    <div class="form-group form-sm">
                                                    
                                                        <label><strong>Nombres</strong></label>
                                                        <input [(ngModel)]="usuario.persona.nombres" type="text" formControlName="nombres" placeholder="Ingresa los nombres" class="form-control" required="required">
                                                    </div>
                                                
                                                </div>
                                                
                                                <div class="col-md-6">
                                                
                                                    <div class="form-group">
                                                    
                                                        <label><strong>Apellidos</strong></label>
                                                        <input [(ngModel)]="usuario.persona.apellidos" type="text" formControlName="apellidos" placeholder="Ingresa los apellidos" class="form-control" required="required">
                                                    </div>
                                                
                                                </div>
                                                
                                                <div class="col-md-6">
                                                
                                                    <div class="form-group">
                                                    
                                                        <label><strong>Telefono</strong></label>
                                                        <input [(ngModel)]="usuario.persona.telefono" minlength="6" type="text" formControlName="telefono"  placeholder="Ingresa un telefono" class="form-control" required="required">
                                                    </div>
                                                
                                                </div>
        
                                    </div>
                    
                            </div>

                           
                            
                                
                            </fieldset>    
                                
                                
                                <div class="col-md-6">
                                
                                    <div class="form-group">
                                    
                                        <label><strong>Usuario</strong></label>
                                        <input [(ngModel)]="usuario.nombreUsuario" type="text" formControlName="nombreUsuario" placeholder="Ingresa el nombre de usuario" class="form-control" required="required">
                                    </div>
                                
                                </div>
                                
                                <div class="col-md-6">
                                
                                    <div class="form-group">
                                    
                                        <label><strong>Password</strong></label>
                                        <input [(ngModel)]="usuario.password" type="password" formControlName="password" placeholder="Ingresa el password" class="form-control" required="required">
                                    </div>
                                
                                </div>
                                
                </div>

            </form>
        
        </div>    
    
    </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-info btn-sm" (click)="modalRef.hide()"><i class="fas fa-times mr-1"></i>Cerrar</button>
        <button type="button" class="btn btn-success btn-sm" (click)="guardar()"><i class="fas fa-save mr-1"></i>Guardar</button>
      </div>

